.listingsnomer {
  margin: 16px 0 0 0;
}

.listingsaddr {
  margin: 29px 0 0 0;
}

.theiconstoshow {
  display: flex;
  justify-content: space-between;
  margin: 23px 0 22px 0;
}

.thedetailstoshow {
  display: flex;
  justify-content: space-between;
}

.addrdescript {
  font-family: "Kohinoor Bangla";
  line-height: 1.5;
}

.thepricetodisclaim {
  margin-left: 210px;
}

.aboxofdetails .box-info {
  display: flex;
}
