.left-listings {
  height: calc(100vh - 60px);
  width: 59.5%;

  overflow-y: scroll;
}

.right-map {
  position: absolute;

  height: calc(100vh - 60px);
  width: 40%;

  // because the right-half container is absolute positioned
  // bottom/right will dictate location on viewport
  top: 60px;
  bottom: 0;
  right: 0;
}

.listing-index-container {
  column-count: 2;
  column-gap: 22px;

  margin: 33px 22px;
  margin-bottom: 7px;

  color: #4D4D4D;

  ul {
    width: 99%;

    position: relative;
    display: inline-block;

    margin-bottom: 33px;

    cursor: pointer;

    .listing-image {
      height: 33vh;
      width: 99%;
    }

    .host-image {
      position: absolute;
      right: 2vh;
      bottom: 5vh;

      height: 11vh;
      width: 11vh;

      border-radius: 50%;
    }

    .listing-info {
      width: 95%;

      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      margin: 0 auto;
      margin-top: 3px;

      font-size: 15px;

      span {
        font-size: 17px;

        user-select: none;
      }

      div {
        color: #696969;
        user-select: none;
      }
    }
  }
}

.filter-container {
  color: #4D4D4D;

  label {
    font-size: 15.5px;

    user-select: none;
  }

  .date-filter {
    height: 60px;
    width: 95%;

    margin: 0 auto;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #E6E6E6;

    .left-date-filter {
      width: 27%;

      display: flex;
      align-items: center;
    }

    .right-date-filter {
      width: 70%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      margin-right: 35px;

      input {
        height: 35px;
        // width: 33%;

        border: 1px solid #C0C0C0;

        font-size: 13px;
        text-align: center;

        cursor: pointer;
      }
    }

    .hs3-guest {
      background-image: url('https://res.cloudinary.com/dsguwnfdw/image/upload/v1478576077/Icons/Screen_Shot_2016-11-07_at_7.32.28_PM.png');
      background-size: 16px 10px;
      background-repeat: no-repeat;
      background-position: 97% 50%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      height: 37px;
      width: 25%;

      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;

      padding-left: 5px;

      background-color: white;

      color: #4D4D4D;
      font-size: 13px;

      border: 1px solid #C0C0C0;
      border-radius: 0;

      cursor: pointer;


      // resize: none;
    }
  }

  .room-filter {
    height: 60px;
    width: 95%;

    margin: 0 auto;

    display: flex;
    flex-direction: row;

    border-bottom: 1px solid #E6E6E6;

    .left-room-filter {
      width: 17%;

      display: flex;
      align-items: center;
    }

    .right-room-filter {
      width: 75%;

      display: flex;
      align-items: center;

      margin-right: 35px;

      .room-button {
        height: 35px;
        width: 37%;

        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-right: 15px;

        border: 1px solid #C0C0C0;
        border-radius: 2px;
        background-color: #DCDCDC;
      }
    }
  }

  .price-filter-container {
    border-bottom: 1px solid #C0C0C0;

    .price-filter {
      height: 60px;
      width: 95%;

      margin: 0 auto;

      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .left-price-filter {
        width: 17%;

        display: flex;
        align-items: center;

        label {
          user-select: none;
        }
      }

      .right-price-filter {
        width: 70%;

        display: flex;
        flex-direction: column;
        align-items: center;

        margin-right: 35px;

        input {
          height: 35px;
          width: 37%;

          margin-right: 15px;

          border: 1px solid #696969;
          border-radius: 2px;
        }

        .min-max-container {
          width: 100%;

          display: flex;
          flex-direction: row;
          justify-content: space-between;

          margin-bottom: 10px;

          font-size: 15px;

          user-select: none;
        }
      }
    }
  }
}

.slider {
  height: 60px;
  width: 100%;

  display: flex;
  align-items: center;
}

.bar-0 {
  background-color: #ddd;
  margin-left: 2px;
  height: 2px;
}

.bar-1 {
  background-color: #00a699;
  height: 4.5px;
}

.bar-2 {
  background-color: #ddd;
  margin-right: 2px;
  height: 2px;
}

.handle {
  min-height: 20px;
  min-width: 20px;

  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 25px;

  height: 25px;
  width: 25px;

  cursor: pointer;
}
