.price-filter-container {
  border-bottom: 1px solid #C0C0C0;

  .price-filter {
    height: 60px;
    width: 95%;

    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0 0 15px 0;

    .left-price-filter {
      width: 80px;

      display: flex;
      align-items: center;

      label {
        user-select: none;
      }
    }

    .right-price-filter {
      width: 60%;

      display: flex;
      flex-direction: column;
      align-items: center;

      margin-right: 35px;

      input {
        height: 35px;
        width: 37%;

        margin-right: 15px;

        border: 1px solid #696969;
        border-radius: 2px;
      }

      .min-max-container {
        width: 100%;

        display: flex;
        flex-direction: row;
        justify-content: space-between;

        margin-bottom: 10px;

        font-size: 15px;

        user-select: none;
      }
    }
  }
}


.slider {

height: 60px;
width: 100%;

display: flex;
align-items: center;
}

.bar-0 {
background-color: #ddd;
margin-left: 2px;
height: 2px;
}

.bar-1 {
background-color: #00a699;
height: 4.5px;
}

.bar-2 {
background-color: #ddd;
margin-right: 2px;
height: 2px;
}

.handle {
min-height: 20px;
min-width: 20px;

background-color: #fff;
border: 1px solid #ccc;
border-radius: 25px;

height: 25px;
width: 25px;

cursor: pointer;
}

// .filter-opts-nav {
//   font-size: 14px;
//   margin: 6px 0px 0px 4px;
// }
//
// .filter-button {
//   margin: 43px 47px 0 9px;
// 	-moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
// 	-webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
// 	box-shadow: 0px 1px 0px 0px #f0f7fa;
// 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
// 	background:-moz-linear-gradient(top, #33bdef 5%, #019ad2 100%);
// 	background:-webkit-linear-gradient(top, #33bdef 5%, #019ad2 100%);
// 	background:-o-linear-gradient(top, #33bdef 5%, #019ad2 100%);
// 	background:-ms-linear-gradient(top, #33bdef 5%, #019ad2 100%);
// 	background:linear-gradient(to bottom, #33bdef 5%, #019ad2 100%);
// 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#33bdef', endColorstr='#019ad2',GradientType=0);
// 	background-color:#33bdef;
// 	-moz-border-radius:6px;
// 	-webkit-border-radius:6px;
// 	border-radius:6px;
// 	border:1px solid #057fd0;
// 	display:inline-block;
// 	cursor:pointer;
// 	color:#ffffff;
// 	font-family:Arial;
// 	font-size:15px;
// 	font-weight:bold;
// 	padding:3px 16px;
// 	text-decoration:none;
// 	text-shadow:0px -1px 0px #5b6178;
// }
// .filter-button:hover {
// 	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
// 	background:-moz-linear-gradient(top, #019ad2 5%, #33bdef 100%);
// 	background:-webkit-linear-gradient(top, #019ad2 5%, #33bdef 100%);
// 	background:-o-linear-gradient(top, #019ad2 5%, #33bdef 100%);
// 	background:-ms-linear-gradient(top, #019ad2 5%, #33bdef 100%);
// 	background:linear-gradient(to bottom, #019ad2 5%, #33bdef 100%);
// 	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#019ad2', endColorstr='#33bdef',GradientType=0);
// 	background-color:#019ad2;
// }
// .filter-button:active {
// 	position:relative;
// 	top:1px;
// }


.more-filters{
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 13px;
  maring-left: -20px;
}

/* Dropdown Button */
.roomtype-button, .filter-button {
    background-color: #008489;
    color: white;
    padding: 6px;
    font-size: 16px;
    font-family: sans-serif;
    border: 1px solid #003366;
    cursor: pointer;
    margin-right: -3px;
    margin-left: 5px;
    border-radius: 2px;
}

/* Dropdown button on hover & focus */
.roomtype-button:hover, .roomtype-button:focus , .filter-button:hover, .filter-button:focus{
    background-color: #007b80;
    text-decoration: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.roomhide {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 152px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.drop-li:hover {
  cursor: pointer;
}

.drop-li {
  font-size: 16px;
}

/* Links inside the dropdown */
.roomhide a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.roomhide a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .roomhide container when the user clicks on the dropdown button) */
.show {
  display:block;
  margin-left: 2px;
  margin-top: 5px;
}
