// .header-link {
//   background: yellow;
// }
.header-name{
  margin: -4px 0 0 106px;
  text-align: right;
  font-style: serif;
  color: #FF5A5F;
  font-size: 21px;
  text-align: center;
}

// .header-name:hover {
//   text-decoration: underline
// }

.header-link {
  margin-left: 20px;
  color: blue;
}

.header-nav {
  display: flex;
  margin-top: 10px;
  border: 1px solid lightgrey;
  padding: 5px;
}

.header-group{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
