// .header-link {
//   background: yellow;
// }
.header-name{
  text-align: right;
  font-style: serif;
  color: dodgerblue;
  font-size: 17px;
  margin: 0 18px 0 0;
  cursor: pointer;
}

.header-name:hover {
  text-decoration: underline
}

.header-link {
  margin-left: 20px;
  color: blue;
}

.header-nav {
  margin-top: 10px;
}
