.out-modal {
  z-index: 1960 !important;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  display: block;
}

.theparentmodal {
  display: table;
  height: 100%;
  width: 100%;
  background-color: rgba(265, 238, 234, 0.55);
}

.themodalscrn {
  display: table-cell;
  vertical-align: middle;
  padding: 64px;
}

.modalfinish {
  position: fixed;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  overflow-y: auto;
  display: block;
}

.modalwrap {
  z-index: 0;
  background-color: #ffffff;
  margin: auto;
  max-width: 429px;
  width: 100%;
  position: relative;
}

.themodalvalue {
  background-color: darkslategrey;
  padding: 32px;
  box-sizing: border-box;
  border-radius: 19px;
}
